<div>
  <%= link_to(t("back"), posts_path) %>
</div>
<div class="post">
  <div class="datetime">
    <%= published_at(@post) %>
  </div>
  <div class="title">
    <%= @post.title %>
  </div>
  <div class="body">
    <%= @post.html.html_safe %>
  </div>
</div>