/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

.danger a {
  color: #f44;
}

body {
  font-family: Georgia;
  font-size: 14px;
  color: #444;
  line-height: 25px;
  width: 850px;
  margin: 0px auto 10px auto;
}

a {
  color: #444;
}

h2 {
  font-size: 30px;
  line-height: 35px;
  margin: 30px 0px;
}

#content {
  width: 670px;
  float: right;
}

textarea {
  margin: 0;
}

.invisible {
  display: none;
}

.name {
  font-weight: bold;
}




