/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

textarea {
  margin: 0;
}

.hidden {
  display: none;
}

.comments .comments {
  margin-left: 10px;
}

.comment {
  margin-top: 15px;
}

.comment a.comment-collapse {
 display: block;
 float: left;
 margin-right: 5px;
 width: 11px;
 height: 11px;
 text-decoration: none;
 border: 1px solid #ccc;
 text-align: center;
 line-height: 10px;
 color: #aaa;
}

.comment .comment-user {
  line-height: 12px;
}

.comment div.collapsable {
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px solid #ccc;
}

a.reply-link {
  display: block;
  margin-bottom: 5px;
}

