// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.unpublished {
  color: #f00;
}

div.post {
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

.back-link {
  margin-top: 30px;
}

.post .title {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px;
}

.post .username {
  margin-top: 30px;
}

.post .datetime {
  color: #888;
  margin-bottom: 30px;
}

.comments .comments {
  margin-left: 10px;
}

.comment {
  margin-top: 15px;
}

.comment a.comment-collapse {
 display: block;
 float: left;
 margin-right: 5px;
 width: 11px;
 height: 11px;
 text-decoration: none;
 border: 1px solid #ccc;
 text-align: center;
 line-height: 10px;
 color: #aaa;
}

.comment .comment-user {
  float: left;
  line-height: 12px;
  margin-right: 10px;
}

.comment .comment-date {
  line-height: 12px;
  color: #888;
}

.comment div.collapsable {
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px dashed #ccc;
}

.comment .comment-body p {
  margin-bottom: 0;
}

a.reply-link {
  display: block;
  margin: 0 0 5px 0;
}