.unpublished {
  color: #f44;
}

div.post .title {
  font-weight: bold;
}

.datetime, .deleted {
  color: #888;
}

#recent-posts ul {
  padding: 0;
  list-style-type: none;
}

#recent-posts ul li {
  margin-bottom: 50px;
}

#recent-posts ul li.hidden div.title a,
#recent-posts ul li.hidden div.title .hidden {
  color: #888;
}

#recent-posts ul li.hidden div.title .hidden {
  font-style: italic;
}

#recent-posts ul li .excerpt {
  margin: 0px;
}

#recent-posts ul li div.spacer {
  width: 200px;
  height: 40px;
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
}

div.post ^ .form {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.back-link {
  margin-top: 30px;
}

div.post .title {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
  line-height: 35px;
}

.post .title a {
  text-decoration: none;
}

.post .username {
  margin-top: 30px;
}

.post .datetime {
  margin-bottom: 30px;
}

#recent-posts ul li .actions a {
  color: #f44;
}

.comments {
  clear: both;
  margin-bottom: 20px;
}

.comments .comments {
  margin-left: 10px;
}

.comment {
  margin-top: 15px;
}

.comment p.deleted {
  color: #aaa;
}

.comment a.comment-collapse {
 display: block;
 float: left;
 margin-right: 5px;
 width: 11px;
 height: 11px;
 text-decoration: none;
 border: 1px solid #ccc;
 text-align: center;
 line-height: 10px;
 color: #aaa;
}

.comment .comment-user {
  float: left;
  line-height: 12px;
  margin-right: 10px;
}

.comment .comment-date {
  line-height: 12px;
  color: #888;
}

.comment a.reply-link {
  display: block;
  float: left;
  margin-right: 5px;
}

.comment a.delete-link {
  color: #f44;
}

.comment div.collapsable {
  padding-left: 10px;
  margin-left: 5px;
  border-left: 1px dashed #ccc;
}

.comment .comment-body p {
  margin-bottom: 0;
}

a.reply-link {
  display: block;
  margin: 0 0 5px 0;
}

.form.post.new .title {
  font-size: 14px;
  font-weight: normal;
}

.form.post.new .field {
  margin-left: 30px;
}

.form.post.new .field label {
  float: left;
  margin-right: 5px;
  width: 70px;
}

.form.post.new .field input[type=text],
.form.post.new .field textarea {
  width: 557px;
}

.form.post.new .field.privacy .info {
  height: 18px;
}
  
.field.privacy select {
  float: left;
  margin-top: 4px;
  margin-right: 5px;
}

.field.publish .explain {
  font-size: 11px;
  line-height: 11px;
  font-style: italic;
  color: #888;
  width: 232px;
  margin-left: 77px;
  padding: 0px;
}

.field.privacy .explain {
  display: none;
}

.form.reply {
  margin-bottom: 60px;
  clear: both;
}

.form.reply .actions {
  float: left;
  margin: 0px;
}

.form.reply .field {
  margin: 0px;
}

.form.reply .field.privacy {
  margin-bottom: 10px;
}

.form.reply textarea {
  margin: 0px;
}

.gallery {
  
}

.gallery .row {
  height: 175px;
}
  
div.gallery a {
  display: block;
  float: left;
  width: 156px;
  height: 156px;
  line-height: 152px;
  text-align: center;
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 2px 2px;
  margin: 1px;
}

div.gallery a img {
  vertical-align: middle;
}

